<header class="header">
  <div class="container-a">
    <a href="/">
      <img
        class="logo-navbar"
        src="/assets/logo-header.png"
        alt="logo header"
      />
    </a>
    <ul class="links">
      <a class="nav-links" href="/">Home</a>
      <a class="nav-links" href="/movies">Movies</a>
      <a class="nav-links" href="/series">Series</a>
      <a class="nav-links" href="/genre">Genre</a>
    </ul>
  </div>
  <div class="container-b">
    <input
      type="search"
      class="search-btn"
      placeholder="Search Movies, Series..."
    />
    <div>
      <img
        class="profile-img"
        src="/assets/profile-picture.png"
        alt="Profile img"
      />
    </div>
  </div>
</header>
