<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genre Form</title>
</head>
<body>
    <h1>Add New Genre</h1>
    <form id="genreAdd">
        <label for="titleGenre">Title Genre:</label><br>
        <input type="text" id="title" name="title" required><br><br>

        <button type="submit">Submit</button>
    </form>
    <% genres.forEach(genre=> { %>
        <p><%= genre.genreName %></p>
        <% }); %>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#genreAdd').on('submit', function (e) {
            e.preventDefault();
            const title = $('#title').val().trim();
            if (title) {
              $.ajax({
                  url: '/admin-crud/genre',
                  type: 'POST',
                  contentType: 'application/json',
                  data: JSON.stringify({ genreName: title }),
                  success: function (newInput) {
                      location.reload();
                  },
                  error: function (error) {
                      console.error("Error adding task:", error.responseText);
                  }
              });
          }
        })
    })
</script>
</html>