<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body class="movies-page">
    <h1>Movies</h1>
    <h2>For You:</h2>
    <div class="carousel-container">
        <img src="https://wallpapercave.com/wp/wp9201685.jpg" class="thumbnail" alt="Deadpool">
        <img src="https://noguiltdisney.com/wp-content/uploads/2021/05/eternals-poster-1-e1621861817783.jpg" class="thumbnail" alt="Eternals">
        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202003/3_idiots.jpeg" class="thumbnail" alt="3 Idiots">
        <img src="https://image.tmdb.org/t/p/original/qzRZZ8tVGZj0PQMUBSyWvZeKDHR.jpg" class="thumbnail" alt="A Man Called Otto">
        <img src="https://th.bing.com/th/id/OIP.IxwVzLP_fYrB2z7kgACgjwAAAA?rs=1&pid=ImgDetMain" class="thumbnail" alt="65">
        <img src="https://image.tmdb.org/t/p/w1280/n9lOuPxdnb6YceTjePhOBAJggOm.jpg" class="thumbnail" alt="Dora">
        <img src="https://wallpapercave.com/wp/wp9201685.jpg" class="thumbnail" alt="Deadpool">
        <img src="https://th.bing.com/th/id/OIP.IxwVzLP_fYrB2z7kgACgjwAAAA?rs=1&pid=ImgDetMain" class="thumbnail" alt="65">
        <img src="https://image.tmdb.org/t/p/w1280/n9lOuPxdnb6YceTjePhOBAJggOm.jpg" class="thumbnail" alt="Dora">
        <img src="https://noguiltdisney.com/wp-content/uploads/2021/05/eternals-poster-1-e1621861817783.jpg" class="thumbnail" alt="Eternals">
    </div>
    <div class="carousel-container">
        <img src="https://wallpapercave.com/wp/wp9201685.jpg" class="thumbnail" alt="Deadpool">
        <img src="https://noguiltdisney.com/wp-content/uploads/2021/05/eternals-poster-1-e1621861817783.jpg" class="thumbnail" alt="Eternals">
        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202003/3_idiots.jpeg" class="thumbnail" alt="3 Idiots">
        <img src="https://image.tmdb.org/t/p/original/qzRZZ8tVGZj0PQMUBSyWvZeKDHR.jpg" class="thumbnail" alt="A Man Called Otto">
        <img src="https://th.bing.com/th/id/OIP.IxwVzLP_fYrB2z7kgACgjwAAAA?rs=1&pid=ImgDetMain" class="thumbnail" alt="65">
        <img src="https://image.tmdb.org/t/p/w1280/n9lOuPxdnb6YceTjePhOBAJggOm.jpg" class="thumbnail" alt="Dora">
        <img src="https://wallpapercave.com/wp/wp9201685.jpg" class="thumbnail" alt="Deadpool">
        <img src="https://th.bing.com/th/id/OIP.IxwVzLP_fYrB2z7kgACgjwAAAA?rs=1&pid=ImgDetMain" class="thumbnail" alt="65">
        <img src="https://image.tmdb.org/t/p/w1280/n9lOuPxdnb6YceTjePhOBAJggOm.jpg" class="thumbnail" alt="Dora">
        <img src="https://noguiltdisney.com/wp-content/uploads/2021/05/eternals-poster-1-e1621861817783.jpg" class="thumbnail" alt="Eternals">
    </div>
    <div class="carousel-container">
        <img src="https://wallpapercave.com/wp/wp9201685.jpg" class="thumbnail" alt="Deadpool">
        <img src="https://noguiltdisney.com/wp-content/uploads/2021/05/eternals-poster-1-e1621861817783.jpg" class="thumbnail" alt="Eternals">
        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202003/3_idiots.jpeg" class="thumbnail" alt="3 Idiots">
        <img src="https://image.tmdb.org/t/p/original/qzRZZ8tVGZj0PQMUBSyWvZeKDHR.jpg" class="thumbnail" alt="A Man Called Otto">
        <img src="https://th.bing.com/th/id/OIP.IxwVzLP_fYrB2z7kgACgjwAAAA?rs=1&pid=ImgDetMain" class="thumbnail" alt="65">
        <img src="https://image.tmdb.org/t/p/w1280/n9lOuPxdnb6YceTjePhOBAJggOm.jpg" class="thumbnail" alt="Dora">
        <img src="https://wallpapercave.com/wp/wp9201685.jpg" class="thumbnail" alt="Deadpool">
        <img src="https://th.bing.com/th/id/OIP.IxwVzLP_fYrB2z7kgACgjwAAAA?rs=1&pid=ImgDetMain" class="thumbnail" alt="65">
        <img src="https://image.tmdb.org/t/p/w1280/n9lOuPxdnb6YceTjePhOBAJggOm.jpg" class="thumbnail" alt="Dora">
        <img src="https://noguiltdisney.com/wp-content/uploads/2021/05/eternals-poster-1-e1621861817783.jpg" class="thumbnail" alt="Eternals">
    </div>
    <div class="carousel-container">
        <img src="https://wallpapercave.com/wp/wp9201685.jpg" class="thumbnail" alt="Deadpool">
        <img src="https://noguiltdisney.com/wp-content/uploads/2021/05/eternals-poster-1-e1621861817783.jpg" class="thumbnail" alt="Eternals">
        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202003/3_idiots.jpeg" class="thumbnail" alt="3 Idiots">
        <img src="https://image.tmdb.org/t/p/original/qzRZZ8tVGZj0PQMUBSyWvZeKDHR.jpg" class="thumbnail" alt="A Man Called Otto">
        <img src="https://th.bing.com/th/id/OIP.IxwVzLP_fYrB2z7kgACgjwAAAA?rs=1&pid=ImgDetMain" class="thumbnail" alt="65">
        <img src="https://image.tmdb.org/t/p/w1280/n9lOuPxdnb6YceTjePhOBAJggOm.jpg" class="thumbnail" alt="Dora">
        <img src="https://wallpapercave.com/wp/wp9201685.jpg" class="thumbnail" alt="Deadpool">
        <img src="https://th.bing.com/th/id/OIP.IxwVzLP_fYrB2z7kgACgjwAAAA?rs=1&pid=ImgDetMain" class="thumbnail" alt="65">
        <img src="https://image.tmdb.org/t/p/w1280/n9lOuPxdnb6YceTjePhOBAJggOm.jpg" class="thumbnail" alt="Dora">
        <img src="https://noguiltdisney.com/wp-content/uploads/2021/05/eternals-poster-1-e1621861817783.jpg" class="thumbnail" alt="Eternals">
    </div>
    <div class="carousel-container">
        <img src="https://wallpapercave.com/wp/wp9201685.jpg" class="thumbnail" alt="Deadpool">
        <img src="https://noguiltdisney.com/wp-content/uploads/2021/05/eternals-poster-1-e1621861817783.jpg" class="thumbnail" alt="Eternals">
        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202003/3_idiots.jpeg" class="thumbnail" alt="3 Idiots">
        <img src="https://image.tmdb.org/t/p/original/qzRZZ8tVGZj0PQMUBSyWvZeKDHR.jpg" class="thumbnail" alt="A Man Called Otto">
        <img src="https://th.bing.com/th/id/OIP.IxwVzLP_fYrB2z7kgACgjwAAAA?rs=1&pid=ImgDetMain" class="thumbnail" alt="65">
        <img src="https://image.tmdb.org/t/p/w1280/n9lOuPxdnb6YceTjePhOBAJggOm.jpg" class="thumbnail" alt="Dora">
        <img src="https://wallpapercave.com/wp/wp9201685.jpg" class="thumbnail" alt="Deadpool">
        <img src="https://th.bing.com/th/id/OIP.IxwVzLP_fYrB2z7kgACgjwAAAA?rs=1&pid=ImgDetMain" class="thumbnail" alt="65">
        <img src="https://image.tmdb.org/t/p/w1280/n9lOuPxdnb6YceTjePhOBAJggOm.jpg" class="thumbnail" alt="Dora">
        <img src="https://noguiltdisney.com/wp-content/uploads/2021/05/eternals-poster-1-e1621861817783.jpg" class="thumbnail" alt="Eternals">
    </div>
</body>
</html>