.header {
  display: flex;
  align-items: center;
  background-color: black;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  padding: 0 2rem;
}

.logo-navbar {
  width: auto;
  height: 5rem;
}

.container-a {
  display: flex;
  align-items: center;
}

.links {
  margin-top: 1rem;
  align-items: center;
  display: flex;
  gap: 1rem;
}

.nav-links {
    text-decoration: none;
    color: white;
}

.nav-links:hover {
    color: wheat;
}

.container-b {
  display: flex;
  align-items: center;
  gap: 1rem;

  /* Search Input */
  .search-btn {
    height: 2.5rem;
    border-radius: 25px;
    padding: 0 1rem;
    background: transparent;
    color: wheat;
  }

  .profile-img {
    border-radius: 50%;
    height: 3rem;
    width: auto;
  }
}

.footer-main {
  background-color: black;
  padding: 3rem 1rem;
}

.footer-card {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .url {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
  }

  .url:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

.footer-head {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

.footer-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-items: center;
}

.divider {
  color: white;
}

.footer-bottom {
  margin-left: 3rem;
  gap: 1rem;
  display: flex;
  color: rgba(255, 255, 255, 0.3);

  .url-footer {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
  }
}