* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Movies Page */
body.movies-page {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

body.movies-page h1 {
    margin-top: 150px;
    text-align: center;
}

body.movies-page h2 {
    margin-top: 150px;
    margin-left: 30px;
}

body.movies-page .carousel-container {
    display: flex; /* Menggunakan flexbox untuk tata letak horizontal */
    justify-content: center; /* Elemen rata tengah */
    gap: 15px; /* Jarak antar elemen */
    padding: 20px;
    overflow: hidden; /* Mencegah elemen meluap */
    max-width: 100%; /* Batas maksimal lebar container */
    flex-wrap: wrap; /* Membuat elemen thumbnail turun ke baris baru jika terlalu banyak */
}

body.movies-page .thumbnail {
    flex: 0 0 auto; /* Thumbnail tetap berukuran tetap */
    width: 200px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
}

body.movies-page .thumbnail:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Batasi jumlah thumbnail yang ditampilkan */
body.movies-page .carousel-container .thumbnail:nth-child(n+9) {
    display: none; /* Sembunyikan thumbnail setelah yang ke-6 */
}
